@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './variables';
@import './fonts';

:root {
  --dark-mode-text-color: #f0f0f0;
  --light-mode-text-color: #444;
  --light-mode-link-hover-color: #b4222a;
  --dark-mode-link-hover-color: #bc383f;
}

html {
  font-size: 10px;
  font-family: roboto;
}

body {
  margin: 0;
}

#body.light {
  --text-color: var(--light-mode-text-color);
  --link-hover-color: var(--light-mode-link-hover-color);
}

#body.dark {
  --text-color: var(--dark-mode-text-color);
  --link-hover-color: var(--dark-mode-link-hover-color);
}

#body {
  background-color: #222; 
  color: var(--text-color);
  margin: 0;
  overflow-x: hidden;
  position: relative;
  &::before {
    content: '';
    background-image: url('../img/lightpaperfibers.jpg');
    position: absolute;
    inset: 0px;
    z-index: 0;
  }
  &.light::before {
    opacity: 1;
  }
  &.dark::before {
    opacity: .25;
  }
}

a {
  color: var(--text-color);
  &:visited, &:active {
    color: var(--text-color);
  }
  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  text-wrap: balance;
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

p, li {
  text-wrap: pretty;
  font-size: 1.6rem;
  line-height: 3rem;
  &.small {
    font-size: 1.4rem;
  line-height: 2.6rem;
  }
}

main {
  max-width: 1028px;
  padding: 0 1rem;
  margin: 0 auto;
}

.experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > div {
    flex: 0 1 50%;

    @media (max-width: 480px) {
      flex-basis: 100%;
    }
  }

  > section {
    flex: 0 0 100%;
  }
}

.contact .icon {
  margin-right: .5em;
  position: relative;
  top: 2px;
}

.cards {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
}

pre {
  display: inline;
  padding: 0 .2em;
  background-color: #ccc;
  border-radius: 4px;
  color: #222;
  margin: 0 .2em;
}
