$font-size: calc(18px + 1vw);
$bigger-font: calc(21px + 1vw);
$smaller-font: calc(14px + 1vw);

body {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: $font-size;
  color: #890620;
  overflow: hidden;
}

input, button {
  font-size: $font-size;
}

input {
  max-width: 60%;
}

button {
  background: #890620;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  outline: none;
  border: 0;
  padding: 10px;
  font-size: calc(10px + 1vw);
  position: relative;
  top: -2px;

  transition: background 0.2s ease-out;

  &:active {
    background: darken(#890620, 6%);
  }

  &:disabled {
    background: #EBD4CB;
    color: #6c0519;
    filter: grayscale(.5);
  }
}

.rainbow, .unicorn {
  width: 20vw;
  position: absolute;
  top: 0;
  min-width: 170px;
}

.unicorn {
  right: 0;
  bottom: 0;
  top: auto;
  &:focus {
    outline: 0;
    animation: run 2.4s ease;
  }
}

.clue-manager {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  text-align: center;
}

.clue {
  font-weight: bold;
  font-size: $bigger-font;
}

.incorrect {
  margin-top: 10px;
  font-size: $smaller-font;
}

.clue-resolver {
  margin-top: 1em;
}

@keyframes run {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(15deg);
  }
  15% {
    transform: rotateZ(5deg) translateX(-1vw);
  }
  64% {
    transform: rotateZ(5deg) translateX(-150vw);
    opacity: 1;
  }
  65% {
    transform: rotateZ(5deg) translateX(-150vw);
    opacity: 0;
  }
  66% {
    opacity: 0;
    transform: rotateZ(0deg) translateX(100vw);
  }
  67% {
    opacity: 1;
    transform: rotateZ(0deg) translateX(99vw);
  }
  100% {
    transform: rotateZ(0deg) translateX(0);
  }
}
