@import './variables';
@import './placeholders';

.card {
  @extend %card;

  @media (max-width: 480px) {
    flex-basis: 100%;
  }

  .card__jobtitle, h3, .card__jobtime {
    text-align: center;
  }

  .card__jobtitle {
    font-weight: bold;
  }

  .card__jobtime {
    display: block;
    font-weight: normal;
  }
}
